@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

/* Root variables */
:root {
  --clr-primary: #57cc99;
  --clr-secondary: #22577a;
  --font-size: 1.75vw;
  --transition-time: 200ms;
  --font-family: ;
}

/* General */
body {
  color: var(--clr-primary);
  background-color: var(--clr-secondary);
  font-size: var(--font-size);
  text-align: center;
  font-family: "Fredoka One", sans-serif;
}

/* Pop-ups */
.pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: var(--transition-time) ease-in-out;
  width: 50vw;
  padding-block: 0 8vw;
  z-index: 10;
  background-color: white;
  border: 3px solid black;
  border-radius: 12px;
}

.close-btn {
  position: inherit;
  bottom: 1%;
  left: 48%;
  cursor: pointer;
  outline: none;
  border: 1px solid black;
  border-radius: 3px;
  scale: 1.6;
  background: rgb(255, 129, 129);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  position: relative;
  font-size: 2vw;
  width: 3.5vw;
  height: 3vw;
  border-radius: 25px;
}

.close-btn:hover {
  background: rgb(255, 99, 99);
  cursor: pointer;
}

.pop-up.active {
  transform: translate(-50%, -50%) scale(1);
}

#claim-prompt {
  color: black;
  font-size: 3.5vw;
}

.overlay {
  position: fixed;
  transition: var(--transition-time) ease-in-out;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.overlay.active {
  opacity: 0;
  pointer-events: all;
}
