#title {
    z-index: 3;
    font-size: 22vw;
    padding-bottom: 0vw;
    margin-bottom: 0;
    margin-top: 6vw;
}

#mission-statement {
    z-index: 2;
    text-align: left;
    font-size: 3.5vw;
    margin-left: 27vw;
}
