:root {
  --nav-clr-background: #38a3a5;
  --nav-clr-primary: white;

  --nav-btn-color: rgb(235, 235, 235);
  --nav-btn-hover-color: rgb(200, 200, 200);
}

#leaf-logo {
  padding: 15px;
  width: 4.5vw;
}

#balance {
  color: white;
  -webkit-text-stroke: 1px black;
}

#profile-icon {
  padding: 15px;
  width: 4vw;
  margin-right: 2vw;
}

#navbar * {
  text-decoration: none;
  font-size: 2.5vw;
}

#navbar {
  font-size: 2.5vw;
  background: var(--nav-clr-background);
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

#navbar > ul {
  list-style: none;
  display: flex;
  align-items: center;
}

#nav-left {
  column-gap: 3vw;
  padding: 0;
  margin: 3vw;
}

#nav-right {
  margin-right: 3vw;
  column-gap: 1vw;
}

.nav-button * {
  color: black;
}

.nav-button {
  font-family: var(--font-family), sans-serif;
  color: black;
  background: var(--nav-btn-color);
  border: 2px solid black;
  padding: 8px 10px;
  border-radius: 10px;
  box-shadow: 0px 1px 21px 7px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 1px 21px 7px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 21px 7px rgba(0, 0, 0, 0.15);
}

.nav-button:hover {
  transition: ease-in-out var(--transition-time);
  cursor: pointer;
  background-color: var(--nav-btn-hover-color);
}
